@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans:600');

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  background-color: #efd9ce;
}

.container-fluid {
  max-width: 900px;
  margin: 0 auto;
}

header {
   margin-bottom: 20px;
   background-color: #25283d;
   padding: 20px;
}

.imgH {
  text-align: center;
}

h1 {
  color: #25283d;
  font-size: 3em;
}

/*formulaire*/
label {
   cursor: pointer;
}

#fichier_upload {
   opacity: 0;
   position: absolute;
   z-index: -1;
}

.browse {
  font-size: 1.5em;
  color: #fff;
}

.browse input {
  border: 1px solid black;
}

/*image loader*/

/* force scrollbar */
html {
  overflow-y: scroll;
}

/* ---- isotope ---- */

.grid {
  background: #8f3985;
  padding: 20px;
  margin-bottom: 20px;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.333%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

.container-fluid {
  width: 90%;
  margin: auto;
}

/*bootstrap*/

.col-md-12 {
  text-align: center;
  margin: 20px 10px 60px 10px;
}

.portfolio {
}

.form-group {
  padding: 20px;
}

.btn {
  padding: 20px;
  font-size: 1.5em;
}

.upload {
  margin: 0 auto;
  padding: 10px;
  /*display: none;*/
}

.hide {
  display: none;
}

/*REMODAL
*/
.remodal-bg.with-red-theme.remodal-is-opening,
    .remodal-bg.with-red-theme.remodal-is-opened {
      filter: none;
    }

.remodal-overlay.with-red-theme {
  background-color: #f44336;
}

.remodal.with-red-theme {
  background: #fff;
}

.limit {
  max-width: 600px;
}

.arrow {
  vertical-align: middle;
  margin-top: 50px;
}
