.container-fluid {
  width: 80%;
  margin: auto;
}

h1 {
  text-align: center;
}

.col-md-12 {
  text-align: center;
  margin: 20px 10px 60px 10px;
}

.portfolio {
  box-shadow: 10px 10px 5px #888888;
  padding: 5px;
}

img {
  max-width: 300px;
  height: auto;
}

.form-group {
  padding: 20px;
}

.btn {
  padding: 20px;
  font-size: 1.5em;
}
